<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>order placed</title>
</head>
<body>
<div style="display:flex;justify-content:center;margin-top:150px;">
    <div style="color:grey;text-align:center;margin:0px;font-family:sans-serif;">
        <img src="https://cdn.dribbble.com/users/2185205/screenshots/7886140/02-lottie-tick-01-instant-2.gif" style="height:200px;">
        <h2 style="color:black;text-align:center;margin:0px;font-size:20px;">Category added Successful</h2>
        <a href="/admin_list_category"><button style="border:1px solid black;border-radius:10px;padding:8px;color:black;margin:10px;cursor:pointer;">go back</button></a>
    </div>
</div>
</body>
</html>