{% extends 'user_base.html' %}
{% block content %}

<head>
    <style>
        .input_box {
            border-radius: 5px;
            border: .5px solid rgb(4, 4, 4);
            padding: 5px 10px;
        }

        .sign_button {
            border-radius: 5px;
            border: 1px solid rgb(107, 100, 209);
            background-color: rgb(84, 84, 225);
            color: white;
            padding: 3px 10px;
        }

        .sign_button:hover {
            background-color: white;
            color: blue;
            border: 1px solid white;
        }

        .links {
            color: rgb(180, 174, 174);
        }

        .links:hover {

            font-weight: bold;
            color: rgb(255, 255, 255);
        }
    </style>
</head>

<body style="background-image:url('/media/gifs/anim1.gif');background-size: cover;">
    <div style="display: flex;justify-content: center;background-image:url('https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-63452.jpg?w=1380&t=st=1669114688~exp=1669115288~hmac=619af0371e18a2b1365a3a9dc8888d3a9887ef62aca57125f13911497f030d20')">
        <div
            style="border:2px solid rgb(255, 255, 255);margin:20vh;padding:50px;background-color: rgba(24, 13, 35,.7);border-radius: 10px;color: rgb(10, 9, 9);">
            <h3 style="color: white;margin: 0px;">sign in</h3>
            <p>sign in with your aldrich account</p>
            <div id="message" style="color: rgb(231, 6, 6);font-size: 12px;"></div>
            <div style="margin-top: 10px;">
                <p style="color: white;">Email Id</p>
                <input type="text" id="user_email" placeholder="eg.aldrich@gmail.com" class="input_box">
                <div id="user_email_err" style="color: rgb(231, 6, 6);font-size: 12px;"></div>
                <p style="color: rgb(255, 255, 255);">Password</p>
                <input type="password" id="user_password" placeholder="eg.Password@123" class="input_box">
                <div id="user_password_err" style="color: rgb(255, 0, 0);font-size: 12px;"></div>
                <p style="display: flex; justify-content: center;margin:10px;border-radius: 10px;">
                    <input type="button" value="sign in" onclick="validate()" class="sign_button">
                <div style="display: flex;flex-direction: column;font-size: 14px;">
                    <a href="/admin_forget_password" class="links">Forget the password</a>
                    <p><a href="/user_otp_sign_in" class="links">sign in</a> | with OTP</p>
                    <p>New to aldrich |<a href="/user_sign_up" class="links"> sign up</a></p>
                </div>
                </p>
            </div>
        </div>
    </div>

    <script>
        function validate() {
            var user_email = document.getElementById('user_email').value
            var user_email_err = document.getElementById('user_email_err')
            var user_password = document.getElementById('user_password').value
            var user_password_err = document.getElementById('user_password_err')
            var message = document.getElementById('message')

            if (user_email == '') {
                console.log('Email field cannot be empty');
                user_email_err.innerHTML = 'Email field cannot be empty.'
            }            
            else if (user_password == '') {
                console.log('Password cannot be empty');
                user_password_err.innerHTML = 'Password Cannot be empty'
            }
            else {
                console.log('trying to log in with user data');
                try_to_signin(user_email,user_password)
            }
        }

        function try_to_signin(user_email,user_password){
        
            $.ajaxSetup({
                data:{csrfmiddlewaretoken :'{{ csrf_token }}'}
            })

            $.ajax({
                url:'/user_sign_in',
                method:'post',
                data:{'user_email':user_email,'user_password':user_password},
                success:function(response){
                    resp = response['user_authentication_status']
                    if(resp == 'user_not_found'){
                        console.log('user_not_found_error')
                        message.innerHTML = 'user not found'
                    }
                    else if(resp == 'wrong_password'){
                        console.log('wrong password error')
                        message.innerHTML='wrong password'
                    }                    
                    else if(resp == 'user_not_active'){
                        console.log('user is not active')
                        message.innerHTML='user is not active'
                    }
                    else if(resp == 'success'){
                        console.log('user is nice')
                        window.location.href='/user_home'
                    }
                    // window.location.href = '/user_home'
                },
            })
        }
    </script>

    {% endblock %}