{% extends 'user_base.html' %}
{% block content %}

<head>
    <style>
        .pages {
            margin: 10px;
        }
    </style>
</head>
<div class="page-wrapper">
    <main class="main">
        <div class="page-content">
            <div class="container">
                <div class="row">
                    {% if category_products %}
                    <div class="col-lg-9">
                        <div class="products mb-3" id="product">
                            <div class="row justify-content-center">
                                {% for product in category_products %}
                                <div class="col-6 col-md-4 col-lg-4" style="display: flex;justify-content:center;margin-top: 10px;">
                                    <div class="product product-7 text-center" style="width: 50%;">
                                        <figure class="product-media">
                                            <a href="/user_product_detail/{{product.id}}">
                                                <img src="/media/{{product.image_1}}" alt="Product image"
                                                    class="product-image">
                                            </a>
                                        </figure><!-- End .product-media -->
                                        <div class="product-body">
                                            <!--  -->
                                            <h3 class="product-title"><a href="#">{{product.name}}</a></h3>
                                            <!-- End .product-title -->
                                            <div class="product-price">
                                                <span style="color:red;">{{category.offer_percentage}}% &nbsp</span>
                                                <span> Rs.{{product.price}}</span>
                                            </div><!-- End .product-price -->
                                            <div class="ratings-container">
                                               
                                                <!-- <span class="ratings-text">( 0 Reviews )</span> -->
                                            </div><!-- End .rating-container -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-sm-6 col-lg-4 -->
                                {% endfor %}
                            </div><!-- End .row -->
                        </div><!-- End .products -->
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                {% for page in pages %}
                                {% if forloop.counter == 1 %}
                                <input type="radio" name="page" onclick="change_page('{{forloop.counter}}')"
                                    class="pages" checked>{{forloop.counter}}
                                {% else %}
                                <input type="radio" name="page" onclick="change_page('{{forloop.counter}}')"
                                    class="pages">{{forloop.counter}}
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </nav>
                    </div><!-- End .col-lg-9 -->
                    {% else %}
                    <div>
                        <div style="text-align: center;margin: 30px;display: flex;justify-content: center;">
                            <img src="/media/message_images/no data.png" width="30%">
                        </div>
                        <div style="color: black;text-align: center;font-size: 20px;">Oops! We have no products in this
                            category</div>
                        <p style="color: rgb(133, 127, 127);text-align: center;">
                            please check another category or come back after some time.
                        </p>
                    </div>
                    {% endif %}
                    <aside class="col-lg-3 order-lg-first">
                        <div class="sidebar sidebar-shop">
                            <div class="widget widget-clean">
                            </div><!-- End .widget widget-clean -->
                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true"
                                        aria-controls="widget-1">
                                        Category
                                    </a>
                                </h3><!-- End .widget-title -->
                                <div class="collapse show" id="widget-1">
                                    <div class="widget-body">
                                        {% for category in categories %}
                                        <div style="display: flex;justify-content: space-between;">
                                            <div>
                                                <a href="/user_category_view/{{category.name}}"
                                                    class="custom-control-label">{{category.name}}</a>
                                            </div><!-- End .custom-checkbox -->
                                            <!-- <span >{{ categories.user_set.count }}</span> -->
                                        </div><!-- End .filter-item -->
                                        {% endfor %}
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->
                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true"
                                        aria-controls="widget-5">
                                        Price
                                    </a>
                                </h3><!-- End .widget-title -->
                                <div class="collapse show" id="widget-5 ">
                                    <div class="widget-body">
                                        <form class="filter-price" action="/user_category_view/{{category.name}}"
                                            method="post">
                                            {% csrf_token %}
                                            <input name="task" value="price_filter" style="display: none;">
                                            Price Range:
                                            <div class="filter-price-text">
                                                <div style="display: flex;">Max<span style="margin: 0px 10px;"><input
                                                            type="number" name="maximum" value="{{max}}"
                                                            style="border: 1px solid gray;border-radius: 10px;padding: 0px 10px;width: 100px;display: block;">
                                                    </span></div>
                                            </div><!-- End .filter-price-text -->
                                            <div class="filter-price-text">
                                                <div style="display: flex;">Min<span style="margin: 0px 10px;"><input
                                                            type="number" name="minimum" value="{{min}}"
                                                            style="border: 1px solid gray;border-radius: 10px;padding: 0px 10px;width: 100px;display: block;">
                                                    </span></div>
                                            </div><!-- End .filter-price-text -->
                                            <div onclick="filter()"><input type="submit" style="width: 100%;"></div>
                                            <div id="price-slider"></div><!-- End #price-slider -->
                                        </form><!-- End .filter-price -->
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->
                        </div><!-- End .sidebar sidebar-shop -->
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->
    <footer class="footer">
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="widget widget-about">
                            <img src="assets/images/logo.png" class="footer-logo" alt="Footer Logo" width="105"
                                height="25">
                            <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna
                                eros eu erat. </p>
                            <div class="social-icons">
                                <a href="#" class="social-icon" target="_blank" title="Facebook"><i
                                        class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Twitter"><i
                                        class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                        class="icon-instagram"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                        class="icon-youtube"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                        class="icon-pinterest"></i></a>
                            </div><!-- End .soial-icons -->
                        </div><!-- End .widget about-widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->
                            <ul class="widget-list">
                                <li><a href="about.html">About Molla</a></li>
                                <li><a href="#">How to shop on Molla</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                                <li><a href="login.html">Log in</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->
                            <ul class="widget-list">
                                <li><a href="#">Payment Methods</a></li>
                                <li><a href="#">Money-back guarantee!</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Terms and conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">My Account</h4><!-- End .widget-title -->
                            <ul class="widget-list">
                                <li><a href="#">Sign In</a></li>
                                <li><a href="cart.html">View Cart</a></li>
                                <li><a href="#">My Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .footer-middle -->
        <div class="footer-bottom">
            <div class="container">
                <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                <!-- End .footer-copyright -->
                <figure class="footer-payments">
                    <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
                </figure><!-- End .footer-payments -->
            </div><!-- End .container -->
        </div><!-- End .footer-bottom -->
    </footer><!-- End .footer -->
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
<!-- Mobile Menu -->
   <!-- Mobile Menu -->
   <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

   <div class="mobile-menu-container mobile-menu-light">
       <div class="mobile-menu-wrapper">
           <span class="mobile-menu-close"><i class="icon-close"></i></span>

           <form action="#" method="get" class="mobile-search">
               <label for="mobile-search" class="sr-only">Search</label>
               <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                   placeholder="Search product ..." required>
               <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
           </form>

           <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
               <li class="nav-item">
                   <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab"
                       role="tab" aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" id="mobile-cats-link" data-toggle="tab" href="#mobile-cats-tab" role="tab"
                       aria-controls="mobile-cats-tab" aria-selected="false">Categories</a>
               </li>
           </ul>

           <div class="tab-content">
               <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel"
                   aria-labelledby="mobile-menu-link">
                   <nav class="mobile-nav">
                       <ul class="mobile-menu">
                           <li class="active">
                               <a href="/">Home</a>

                               
                           </li>
                           <li>
                               <a href="/user_account">Account</a>
                             
                           </li>
                           <li>
                               <a href="#products-featured-tab" class="sf-with-ul">Trusted Products</a>
                            
                           </li>
                     
                           <li>
                               <a href="#products-sale-tab">Best offers</a>
                              
                           </li>
                           <li>
                               <a href="#products-featured-tab">Top Rated</a>

                           </li>
                           <li>
                               <a href="/user_sign_out">Sign out</a>
      
                           </li>
                       </ul>
                   </nav><!-- End .mobile-nav -->
               </div><!-- .End .tab-pane -->
               <div class="tab-pane fade" id="mobile-cats-tab" role="tabpanel" aria-labelledby="mobile-cats-link">
                   <nav class="mobile-cats-nav">
                       <ul class="mobile-cats-menu">
                           {% for category in categories %}
                           <li><a href="/user_category_view/{{category.name}}">{{category.name}}</a></li>
                           {% endfor %}
                       </ul><!-- End .mobile-cats-menu -->
                   </nav><!-- End .mobile-cats-nav -->
               </div><!-- .End .tab-pane -->
           </div><!-- End .tab-content -->

           <div class="social-icons">
               <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
               <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
               <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
               <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
           </div><!-- End .social-icons -->
       </div><!-- End .mobile-menu-wrapper -->
   </div><!-- End .mobile-menu-container -->
<!-- Sign in / Register Modal -->
<div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-close"></i></span>
                </button>
                <div class="form-box">
                    <div class="form-tab">
                        <ul class="nav nav-pills nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab"
                                    aria-controls="signin" aria-selected="true">Sign In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab"
                                    aria-controls="register" aria-selected="false">Register</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="tab-content-5">
                            <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                aria-labelledby="signin-tab">
                                <form action="#">
                                    <div class="form-group">
                                        <label for="singin-email">Username or email address *</label>
                                        <input type="text" class="form-control" id="singin-email" name="singin-email"
                                            required>
                                    </div><!-- End .form-group -->
                                    <div class="form-group">
                                        <label for="singin-password">Password *</label>
                                        <input type="password" class="form-control" id="singin-password"
                                            name="singin-password" required>
                                    </div><!-- End .form-group -->
                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>LOG IN</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="signin-remember">
                                            <label class="custom-control-label" for="signin-remember">Remember
                                                Me</label>
                                        </div><!-- End .custom-checkbox -->
                                        <a href="#" class="forgot-link">Forgot Your Password?</a>
                                    </div><!-- End .form-footer -->
                                </form>
                                <div class="form-choice">
                                    <p class="text-center">or sign in with</p>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-g">
                                                <i class="icon-google"></i>
                                                Login With Google
                                            </a>
                                        </div><!-- End .col-6 -->
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-f">
                                                <i class="icon-facebook-f"></i>
                                                Login With Facebook
                                            </a>
                                        </div><!-- End .col-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .form-choice -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                <form action="#">
                                    <div class="form-group">
                                        <label for="register-email">Your email address *</label>
                                        <input type="email" class="form-control" id="register-email"
                                            name="register-email" required>
                                    </div><!-- End .form-group -->
                                    <div class="form-group">
                                        <label for="register-password">Password *</label>
                                        <input type="password" class="form-control" id="register-password"
                                            name="register-password" required>
                                    </div><!-- End .form-group -->
                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>SIGN UP</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="register-policy"
                                                required>
                                            <label class="custom-control-label" for="register-policy">I agree to the <a
                                                    href="#">privacy policy</a> *</label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .form-footer -->
                                </form>
                                <div class="form-choice">
                                    <p class="text-center">or sign in with</p>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-g">
                                                <i class="icon-google"></i>
                                                Login With Google
                                            </a>
                                        </div><!-- End .col-6 -->
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login  btn-f">
                                                <i class="icon-facebook-f"></i>
                                                Login With Facebook
                                            </a>
                                        </div><!-- End .col-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .form-choice -->
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .modal-body -->
        </div><!-- End .modal-content -->
    </div><!-- End .modal-dialog -->
</div><!-- End .modal -->
<script>
    function change_page(page) {
        console.log("redirecting to page" + page)
        $.ajaxSetup({
            data: { csrfmiddlewaretoken: '{{csrf_token}}' },
        })
        $.ajax({
            url: '/user_category_view/{{category.name}}',
            data: { 'page': page },
            method: 'POST',
            success: function (response) {
                console.log('page has been updated')
                $("#product").load(" #product");
            }
        })
    }
</script>
{% endblock %}