<!DOCTYPE html>
<html lang="en">

{% load static %}

<!-- molla/index-1.html  22 Nov 2019 09:55:06 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Aldrich Shopee</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/icons/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/images/icons/site.html' %}">
    <link rel="mask-icon" href="{% static 'assets/images/icons/safari-pinned-tab.svg' %}" color="#666666">
    <link rel="shortcut icon" href="{% static 'assets/images/icons/favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="{% static 'assets/images/icons/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet"
        href="{% static 'assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css' %}">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/jquery.countdown.css' %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/skins/skin-demo-2.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/demos/demo-2.css' %}">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->
    <script src="{% static 'assets/sweet.js' %}" type="text/javascript" ></script>

    <style>
        .color_1 {
            color: black;
            font-weight: normal;
        }

        .common_1 {
            font-weight: 500;
        }
        .icon_c{
            /* padding: 10px; */
            font-size: 8px;
        }
        .icon_div{
            margin:10px 0px;
        }
 
    </style>


    <style>
        .input_box {
            border-radius: 5px;
            border: .5px solid rgb(4, 4, 4);
            padding: 5px 10px;
        }

        .sign_button {
            border-radius: 5px;
            border: 1px solid rgb(107, 100, 209);
            background-color: rgb(84, 84, 225);
            color: white;
            padding: 3px 10px;
        }

        .sign_button:hover {
            background-color: white;
            color: blue;
            border: 1px solid white;
        }

        .links {
            color: rgb(180, 174, 174);
        }

        .links:hover {
            font-weight: bold;
            color: rgb(255, 255, 255);
        }
    </style>
</head>
<body>

    <div style="display: flex;justify-content: center;">
        <div
            style="border:2px solid rgb(255, 255, 255);margin:5%;padding:50px;background-color: rgb(24, 13, 35);border-radius: 10px;color: rgb(10, 9, 9);">
            <h3 style="color: white;margin: 0px;">Sign in with OTP</h3>
            <p>Enter the otp send to your registered phone number accociated with your Aldrich account</p>
            <div id="message"></div>
            <div style="margin-top: 10px;">
                <div class="auto_change">
                    <p style="color: white;">Enter Valid OTP</p>
                    <div id="err" style="color:rgb(255, 0, 0) ;"></div>
                    <input type="text" id="otp_1" placeholder="0" class="input_box"
                        style="width:50px;height:50px;font-size: 30px;text-align: center;" maxlength="1" name="otp_1">
                    <input type="text" id="otp_2" placeholder="0" class="input_box"
                        style="width:50px;height:50px;font-size: 30px;text-align: center;" maxlength="1" name="otp_2">
                    <input type="text" id="otp_3" placeholder="0" class="input_box"
                        style="width:50px;height:50px;font-size: 30px;text-align: center;" maxlength="1" name="otp_3">
                    <input type="text" id="otp_4" placeholder="0" class="input_box"
                        style="width:50px;height:50px;font-size: 30px;text-align: center;" maxlength="1" name="otp_4">
                        
                </div>
                <p style="margin:20px 0px;"><input type="button" value="sign in" onclick="validate()"
                        class="sign_button"></p>
                <div style="display: flex;flex-direction: column;font-size: 14px;">
                    <a href="#" class="links">Resend the OTP</a>
                    <p><a href="/user_sign_in" class="links">sign in</a> | with username and password</p>
                    <p>New to Aldrich |<a href="/user_sign_up" class="links"> sign up</a></p>
                </div>
                </p>
            </div>
        </div>
    </div>
    <script>
        function validate() {
            var otp_1 = document.getElementById('otp_1').value
            var otp_2 = document.getElementById('otp_2').value
            var otp_3 = document.getElementById('otp_3').value
            var otp_4 = document.getElementById('otp_4').value
            var err = document.getElementById('err')
            if (otp_1 == '' || otp_2 == '' || otp_3 == '' || otp_4 == '') {
                console.log('All fields should be filled');
                err.innerHTML = 'fields cannnot be empty'
            }
            else {
                err.innerHTML = ''
                console.log('trying to log in with otp');
                try_to_signin(otp_1, otp_2, otp_3, otp_4)
            }
        }
        function try_to_signin(otp_1, otp_2, otp_3, otp_4) {

            $.ajaxSetup({
                data: { csrfmiddlewaretoken: '{{ csrf_token }}' }
            })
            $.ajax({
                url: '/user_otp_sign_in_validation',
                method: 'post',
                data: { 'otp_1': otp_1, 'otp_2': otp_2, 'otp_3': otp_3, 'otp_4': otp_4},
                success: function (response) {
                    resp = response['user_authentication_status']
                    if (resp == 'w') {
                        console.log('wrong_otp')
                    }
                    else if (resp == 'approved') {
                        console.log('redirecting to user home')
                        window.location.href = '/user_home'
                    }
                },
            })
        }
        var container = document.getElementsByClassName("auto_change")[0];
        container.onkeyup = function (e) {
            var target = e.srcElement;
            var maxLength = parseInt(target.attributes["maxlength"].value, 10);
            var myLength = target.value.length;
            if (myLength >= maxLength) {
                var next = target;
                while (next = next.nextElementSibling) {
                    if (next == null)
                        break;
                    if (next.tagName.toLowerCase() == "input") {
                        next.focus();
                        break;
                    }
                }
            }
        }
    </script>

        
    </body>
</html>